<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>Servlets.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>Servlets.CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>Servlets.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogIn</servlet-name>
        <servlet-class>Servlets.UserLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Servlets.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tests</servlet-name>
        <servlet-class>Servlets.Tests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>Servlets.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Servlets.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Servlets.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashonDelivery</servlet-name>
        <servlet-class>Servlets.CashonDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItem</servlet-name>
        <servlet-class>Servlets.RemoveCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyUserData</servlet-name>
        <servlet-class>Servlets.EditMyUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlets.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInvoice</servlet-name>
        <servlet-class>Servlets.ViewInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>Servlets.AddReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/CheckUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/UserSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogIn</servlet-name>
        <url-pattern>/UserLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tests</servlet-name>
        <url-pattern>/Tests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCart</servlet-name>
        <url-pattern>/AddtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashonDelivery</servlet-name>
        <url-pattern>/CashonDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItem</servlet-name>
        <url-pattern>/RemoveCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyUserData</servlet-name>
        <url-pattern>/EditMyUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInvoice</servlet-name>
        <url-pattern>/ViewInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/AddReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
